@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&family=Montserrat+Alternates:wght@500&family=Nunito:wght@500&family=Rajdhani:wght@500&family=Roboto:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* NAVBAR SECTION */

.navbar{
    background-color: white;
    padding: 0 4rem;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px 2px #888888;
}

.navbar li{
  list-style: none;
  display: inline-block;
  margin-right: 50px;
  font-size: 22px;
  cursor: pointer;
}

/* HERO SECTION */

.hero-container{
  background-color:#888888;
  text-align: center;
  color: white;
  height: 720px;
  background-image: url(./images/main-background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content{
  position: relative;
  top: 40%;
}

.hero-content h2{
  font-size: 30px;
  margin-bottom: 10px;
}

/* SERVICES SECTION */

.service-section{
  text-align: center;
}

.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.Card {
  width: 300px;
  height: 250px;
  background: linear-gradient(to right,rgb(165, 165, 165),rgb(134, 134, 134));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
  color: white;
  border-radius: 30px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
}

#card-id{
  margin-top: 200px;
}

/* COLAB SECTION */

.colab-section{
  margin-top: 20px;
  height: 700px;
  background-color: skyblue;
}

/* CONTACT SECTION */

.contact-section{
  height: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkgray;
}

.address{
  position: relative;
  left: 10%;
}

.address h1{
  margin-bottom: 10px;
  font-size: 38px;
}

.address p{
  font-size: 20px;
}

.location{
  position: relative;
  right: 5%;
}

.location iframe{
  border-radius: 20px;
}

/* FOOTER SECTION */

.footer-section{
  background-color: #888888;
  height: 400px;
  padding: 20px;
  line-height: 1.5rem;
}

.footer-section ul{
  list-style: none;
}

.footer-container{
  max-width: 1117px;
  margin: auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
}



